<!DOCTYPE html>
<html>

<head>
	<title>Home|Sample Rails App</title>
</head>

<body>
	<h1>Sample App</h1>
	<p>
		This is the home page for Sample App created with the help of
		<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.<br><br>
		Developed by Faheem Hassan Zunjani.
	</p>
</body>

</html>